* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(yellowgreen, white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
/* HEADER */

 header {
  padding: 25px 50px;
}


main section p {
  margin-top: 5%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: oblique;
}
/* IDs */
#imgRedes {
  display: flex;
  justify-content: space-evenly;
}
#div_contacto {
  padding: 5%;
  text-align: center;
}

/* Clases */
.imgLogo {
  max-width: 70px;
  margin: 10px;
}
.subtitulo {
  margin-bottom: 5%;
  margin-top: 10px;
}
.imgMat {
 display: flex;
 justify-content: space-around;
}
.vidIndex {
  margin-left: 10%;
  width: 80%;
  height: 500px;
}
.ubiFooter {
  margin-top: 5%;
  display: inline;
  margin-left: 4%;
}
.flexUbi {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.textFooter {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: oblique;
}
#imgBio {
  width: 100%;
}
.textBio {
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique
}
.imgTaller {
  width: 96%;
  padding-left: 4%;
  padding-top: 5%;
}
.imgTaller2 {
  max-width: 299px;
 max-height:168px ; 
}
.max-h-500 {
  max-height: 500px;
}
.card {
  max-width: 200px;
}
.TallerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex1 {
  text-align: center; 
}
.ubi1 {
  width: 100%;
}
.flexContacto {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.buttonHome {
text-align: center;
}
/* media queries */
@media (max-width:385px){
  .imgLogo {
    display: none;
  }
  .flexUbi { flex-direction: column;
  }
}
@media (max-width:425px) {
  .imgMat {
    flex-direction: column;
    align-items: center;
  }
  #imgMat2 {
    display: none;
  }
}
@media (max-width: 830px) {
  .TallerFlex {
    flex-direction: column;
  }
}

