/* biografia */

.bgBio {
  background: linear-gradient($bgBio);
}
#imgBio {
  width: 100%;
  @media (min-width: 830px) {
    width: 100%;
    padding: 5%;
  }
}
.textBio {
  margin-bottom: 6%;
  padding: 1%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
}

/* productos */
.bgProductos {
  background: linear-gradient($bgProductos);
}
.max-h-500 {
  max-height: 500px;
}
.card {
  max-width: 200px;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    background-color: yellowgreen;
  }
}
#imgProdu {
  min-height: 500px;
}

/* taller */
.bgTaller {
  background: linear-gradient($bgTaller);
}
main {
  @media (min-width: 830px) {
    .carousel-inner {
      max-height: 600px;
      padding: 30px;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
  .TallerFlex {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @media (min-width: 830px) {
      flex-direction: row;
      justify-content: space-around;
      gap: 1%;
    }
    .flex1 {
      margin-top: 30px;
      text-align: center;

      .imgTaller2 {
        max-width: 250px;
        height: 150px;
        transition: box-shadow 0.3s ease;
        &:hover {
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

/* contacto */
.bgContacto {
  background: linear-gradient($bgContacto);
}

#div_contacto {
  padding: 5%;
  text-align: center;
  font-weight: bolder;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .flexContacto {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 5%;
    border-radius: 2%;

    border: 4px solid rgb(149, 228, 59);
    background-color: rgba(255, 255, 255, 0.5);
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
  }
}
form label {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  display: inline-block;
}
.btnConsulta {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10%;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  transition: box-shadow 0.3s ease;
  &:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

.buttonHome {
  font-weight: bolder;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 20%;
  transition: box-shadow 0.3s ease;
  &:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}
